{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Fri Sep 16 2022 18:24:29 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="62f411e0c7f4a57785771e71" data-wf-site="62d96ebd93ffb09c4e003d66">

<body class="new-body">

  {% include 'partials/navbar.html' %}

  <div class="overall-div">

    {% include 'partials/navbar-side.html' %}

    <div class="page-content">
      <div class="new-page-content">
        <div class="hero-image-copy about-us">
          <h1 class="heading-43">ABOUT US</h1>
          <div class="timings head"><img src="{% static 'images/Time.png' %}" loading="lazy" srcset="{% static 'images/Time-p-500.png' %} 500w, {% static 'images/Time.png' %}  512w" sizes="35px" alt="" class="image-43 head">
            <div class="time-heading">Monday to Friday ~ 9:00 a.m. to 4:30 p.m.</div>
          </div>
        </div>
        <div class="new-section history wf-section">
          <div class="div-block-2">
            <p class="blurb-paragraph aufirstdiv">The R. Boak Burns Law Library is located in the Welland County Court House at 102 East Main Street, Welland, Ontario, Canada. The Welland County Court House dates back to 1856. It is one of the most venerable structures in the Niagara Peninsula and has survived one serious fire and public outcry against demolition. Until, 1851 the territory of this County was part of Lincoln County, with representation invested in the Niagara District Council which met at Niagara-on-the-Lake.</p>
          </div><img src="{% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled.jpg' %}" loading="lazy" width="441" srcset="{% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-500.jpg' %} 500w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-800.jpg' %} 800w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-1080.jpg' %} 1080w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-1600.jpg' %} 1600w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-2000.jpg' %} 2000w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled.jpg' %} 2560w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 88vw, (max-width: 991px) 59vw, 38vw" alt="" class="image-4">
        </div>
        <div class="new-section-vertical wf-section">
          <h2><strong>Our History</strong></h2>
          <div data-delay="4000" data-animation="slide" class="slider-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-4 w-slider-mask">
              <div class="slide-5 w-slide">
                <div class="div-block-18"><img src="{% static 'images/Welland-County-1850.png' %}" loading="lazy" srcset="{% static 'images/Welland-County-1850-p-500.png' %} 500w, {% static 'images/Welland-County-1850-p-800.png' %} 800w, {% static 'images/Welland-County-1850-p-1080.png' %} 1080w, {% static 'images/Welland-County-1850.png' %} 1086w" sizes="100vw" alt="" class="image-11"></div>
                <div class="div-block-2">
                  <p class="blurb-paragraph aufirstdiv">In 1851 legislation authorizing the break away by the municipalities forming Welland County was passed and to serve the new county a massive stone building was erected at a cost exceeding $100,000. The first meeting of the County Council took place in the new structure on Monday, August 18, 1856.</p>
                </div>
              </div>
              <div class="slide-5 w-slide">
                <div class="div-block-18"><img src="{% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery.jpg' %}" loading="lazy" srcset="{% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery-p-500.jpg' %} 500w, {% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery-p-800.jpg' %} 800w, {% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery.jpg' %} 1086w" sizes="100vw" alt="" class="image-11"></div>
                <div class="div-block-2">
                  <p class="blurb-paragraph aufirstdiv">In 1851 legislation authorizing the break away by the municipalities forming Welland County was passed and to serve the new county a massive stone building was erected at a cost exceeding $100,000. The first meeting of the County Council took place in the new structure on Monday, August 18, 1856.</p>
                </div>
              </div>
              <div class="slide-5 w-slide">
                <div class="div-block-18"><img src="{% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled.jpg' %}" loading="lazy" srcset="{% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-500.jpg' %} 500w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-800.jpg' %} 800w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-1080.jpg' %} 1080w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-1600.jpg' %} 1600w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-2000.jpg' %} 2000w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled.jpg' %} 2560w" sizes="100vw" alt="" class="image-11"></div>
                <div class="div-block-2">
                  <p class="blurb-paragraph aufirstdiv">In 1851 legislation authorizing the break away by the municipalities forming Welland County was passed and to serve the new county a massive stone building was erected at a cost exceeding $100,000. The first meeting of the County Council took place in the new structure on Monday, August 18, 1856.</p>
                </div>
              </div>
            </div>
            <div class="left-arrow-4 w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-5 w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
          <div data-delay="4000" data-animation="slide" class="slider-size w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-3 w-slider-mask">
              <div class="slider-size-2 w-slide">
                <div class="div-block-15">
                  <div id="w-node-_60787255-3999-79d0-156b-12172ed02e83-85771e71" class="div-block-14">
                    <div class="text-block-3">1851 - 1856</div>
                    <p class="blurb-paragraph">In 1851 legislation authorizing the break away by the municipalities forming Welland County was passed and to serve the new county a massive stone building was erected at a cost exceeding $100,000. The first meeting of the County Council took place in the new structure on Monday, August 18, 1856.</p>
                  </div><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, (max-width: 991px) 400px, 250px" width="543" id="w-node-_60787255-3999-79d0-156b-12172ed02e82-85771e71" src="{% static 'images/Welland-County-1850.png' %}" loading="lazy" srcset="{% static 'images/Welland-County-1850-p-500.png' %} 500w, {% static 'images/Welland-County-1850-p-800.png' %} 800w, {% static 'images/Welland-County-1850-p-1080.png' %} 1080w, {% static 'images/Welland-County-1850.png' %} 1086w" alt="" class="image-9">
                </div>
              </div>
              <div class="slider-size-2 w-slide">
                <div class="div-block-15">
                  <div id="w-node-_5f5778bf-15c9-d8d6-e699-db557abc3d59-85771e71" class="div-block-14-copy">
                    <div class="text-block-3">1913 - 1914</div>
                    <p class="blurb-paragraph">The building&#x27;s neo-classical style is constructed of Queenston limestone and is three stories tall. Ionic pillars, symmetrical flanked stairways and a pediment creates a majestic entrance into the building. On June 11, 1913, a fire was discovered in the huge central dome of the structure that gutted everything except the first floor and the subsequent restorations were not completed until the end of 1914. </p>
                  </div><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, (max-width: 991px) 400px, 250px" width="543" id="w-node-_5f5778bf-15c9-d8d6-e699-db557abc3d5e-85771e71" src="{% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery.jpg' %}" loading="lazy" srcset="{% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery-p-500.jpg' %} 500w, {% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery-p-800.jpg' %} 800w, {% static 'images/B88719812Z.1_20190524114249_000_GIFJOS4E.3-0_Gallery.jpg' %} 1086w" alt="" class="image-9-copy">
                </div>
              </div>
              <div class="slider-size-2 w-slide">
                <div class="div-block-15">
                  <div id="w-node-_5947fc30-cd06-802b-05df-846fe188b58b-85771e71" class="div-block-14">
                    <div class="text-block-3">1950 - 1999</div>
                    <p class="blurb-paragraph">In the 1950&#x27;s the acute need for additional space caused a controversy over whether a completely new structure should be built or an addition be added to the original building. In December of 1997, the courthouse underwent massive and extensive renovations. Eighteen months and $8 million dollars later, services were re-located back to the building in July of 1999.</p>
                  </div><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, (max-width: 991px) 400px, 250px" width="543" id="w-node-_5947fc30-cd06-802b-05df-846fe188b590-85771e71" src="{% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled.jpg' %}" loading="lazy" srcset="{% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-500.jpg' %} 500w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-800.jpg' %} 800w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-1080.jpg' %} 1080w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-1600.jpg' %} 1600w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled-p-2000.jpg' %} 2000w, {% static 'images/2-P7210221-102-East-Main-St-Court-House-col-siz-scaled.jpg' %} 2560w" alt="" class="image-9">
                </div>
              </div>
            </div>
            <div class="left-arrow-3 w-slider-arrow-left"></div>
            <div class="right-arrow-4 w-slider-arrow-right"></div>
            <div class="slide-nav-2 w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
        </div>
        <div class="new-section-vertical wf-section">
          <h2><strong>Meet Our Executive Team</strong></h2>
          <div data-delay="4000" data-animation="slide" class="desktop-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-3 w-slider-mask">

              {% for member in board %}

              {% if forloop.first %}
              <div class="slider-size-2 w-slide">
                <div class="w-layout-grid grid-3 slide1">

              {% elif forloop.counter0|divisibleby:3 %}
              <div class="slider-size-2 w-slide">
                <div class="w-layout-grid grid-3 slide1">

              {% endif %}


                  <div id="w-node-_00375a75-0719-9481-1759-8cc090e63f25-85771e71" class="membership-cards"><img src="{{member.image.url}}" loading="lazy" srcset="{{member.image.url}} 500w, {{member.image.url}} 800w" sizes="(max-width: 991px) 100vw, 230px" alt="" class="membership-img">
                    <div class="membership-info">
                      <h3 class="small-subheading">{{member.name}}</h3>
                      <div class="text-block-32">{{member.position}}</div>
                      <div class="word-break-all">{{member.email}}</div>
                    </div>
                  </div>

            {% if forloop.counter|divisibleby:3 %}
                </div>
              </div>
            {% elif forloop.last %}
                </div>
              </div>
            {% endif %}

            {% endfor %}


            </div>
            <div class="left-arrow-3 w-slider-arrow-left"></div>
            <div class="right-arrow-4 w-slider-arrow-right"></div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>

          <div data-delay="4000" data-animation="slide" class="desktop-slider-copy new-section w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-3 w-slider-mask">

              {% for member in board %}

              {% if forloop.first %}
              <div class="slider-size-2 w-slide">
                <div class="w-layout-grid grid-3 slide1">

              {% elif forloop.counter0|divisibleby:3 %}
              <div class="slider-size-2 w-slide">
                <div class="w-layout-grid grid-3 slide1">

              {% endif %}


                  <div id="w-node-_9db1ac19-deaf-dd08-6dcc-f470e93af944-85771e71" class="membership-cards"><img src="{{member.image.url}}" loading="lazy" srcset="{{member.image.url}} 500w, {{member.image.url}} 800w" sizes="(max-width: 767px) 100vw, 230px" alt="" class="membership-img">
                    <div class="membership-info">
                      <h3 class="small-subheading">{{member.name}}</h3>
                      <div class="text-block-32">{{member.position}}</div>
                      <div class="word-break-all">{{member.email}}</div>
                    </div>
                  </div>

            {% if forloop.counter|divisibleby:3 %}
                </div>
              </div>
            {% elif forloop.last %}
                </div>
              </div>
            {% endif %}

            {% endfor %}



            </div>
            <div class="left-arrow-3 w-slider-arrow-left"></div>
            <div class="right-arrow-4 w-slider-arrow-right"></div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>

          <div data-delay="4000" data-animation="slide" class="desktop-slider-copy-copy new-section teamcase w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-3 w-slider-mask">

              {% for member in board %}

              {% if forloop.first %}
              <div class="slider-size-2 w-slide">
                <div class="w-layout-grid grid-3 slide1">

              {% elif forloop.counter0|divisibleby:3 %}
              <div class="slider-size-2 w-slide">
                <div class="w-layout-grid grid-3 slide1">

              {% endif %}


                  <div id="w-node-_709a3b10-54b0-98d8-d82c-a093baf90eba-85771e71" class="membership-cards"><img src="{{member.image.url}}" loading="lazy" srcset="{{member.image.url}} 500w, {{member.image.url}} 800w" sizes="(max-width: 767px) 100vw, 230px" alt="" class="membership-img">
                    <div class="membership-info">
                      <h3 class="small-subheading">{{member.name}}</h3>
                      <div class="text-block-32">{{member.position}}</div>
                      <div class="word-break-all">{{member.email}}</div>
                    </div>
                  </div>

            {% if forloop.counter|divisibleby:3 %}
                </div>
              </div>
            {% elif forloop.last %}
                </div>
              </div>
            {% endif %}

            {% endfor %}


            </div>
            <div class="left-arrow-2 w-slider-arrow-left"></div>
            <div class="right-arrow-4 w-slider-arrow-right"></div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'partials/footer.html' %}
  <style>
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.word-break-all {
  /* Force line break within words to prevent text from overflowing */
  	word-break: break-all;
  /* Force line break if entire word cannot be placed on its own line without overflowing */
	word-wrap: break-word;
	overflow-wrap: break-word;
  /* Add hyphens when break within word */
  	hyphens: auto;
  /* Same as above for various browsers */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
  }
</style>
</body>
</html>
 {% endblock %}
