{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
{% load static %}
<!--  Last Published: Fri Sep 16 2022 18:24:29 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="62f411e0c7f4a5fe99771e72" data-wf-site="62d96ebd93ffb09c4e003d66">

<body class="new-body">

  {% include 'partials/navbar.html' %}

  <div class="overall-div">

    {% include 'partials/navbar-side.html' %}

    <div class="page-content">
      <div class="hero-image">
        <h1>CAREER CENTER</h1>
      </div>
      <div class="new-section wf-section">
        <div class="div-block-56">
          <h2><strong>Job opportunities</strong></h2>
          <p class="blurb-paragraph career-paragraph">When you <strong><em>join</em></strong> the <strong><em>Welland County Law Association</em></strong>, you&#x27;re starting an exciting journey that can take you anywhere you want to go. From global <strong><em>opportunities</em></strong> to workplace flexibility, you can grow immensely here. View several of our job postings below.</p>
        </div>
      </div>

      {% for role in roles %}
      <div class="new-section wf-section">
        <div class="div-block-56">
          <h2><strong>{{role.title}}</strong></h2>
          <div class="w-layout-grid grid-16">

            {% for job in jobs %}
            {% if job.role == role %}
            <div id="w-node-bdc73517-e393-c9d8-220e-b36b5ea2152f-99771e72" class="div-block-57">
              <a href="{{job.link}}" class="link-block-6 w-inline-block">
                <h4 class="roles-headings">{{job.position}}<br></h4>
              </a>
              <div class="lawyers"><img src="{% static 'images/briefcase.png' %}" loading="lazy" srcset="{% static 'images/briefcase-p-500.png' %} 500w, {% static 'images/briefcase.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">{{job.organization}}</div>
              </div>
              <div class="lawyers"><img src="{% static 'images/Time.png' %}" loading="lazy" srcset="{% static 'images/Time-p-500.png' %} 500w, {% static 'images/Time.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">{{job.date}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      {% endfor %}

      <div class="new-section wf-section">
        <div class="div-block-56">
          <h2><strong>Support Staff</strong></h2>
          <div class="w-layout-grid grid-16">
            <div id="w-node-_761994d9-7556-43b5-d076-7c929f906241-99771e72" class="div-block-57">
              <a href="#" class="link-block-9 w-inline-block">
                <h4 class="roles-headings">Family &amp; Estate Lawyers For Legal Aid</h4>
              </a>
              <div class="lawyers"><img src="{% static 'images/briefcase.png' %}" loading="lazy" srcset="{% static 'images/briefcase-p-500.png' %} 500w, {% static 'images/briefcase.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">Barrister</div>
              </div>
              <div class="lawyers"><img src="{% static 'images/Time.png' %}" loading="lazy" srcset="{% static 'images/Time-p-500.png' %} 500w, {% static 'images/Time.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">9:00 - 16:00</div>
              </div>
            </div>
            <div id="w-node-_4534c306-6260-c79a-25f8-d5103f7c906e-99771e72" class="div-block-57">
              <a href="#" class="link-block-10 w-inline-block">
                <h4 class="roles-headings">Family and Estate Lawyer </h4>
              </a>
              <div class="lawyers"><img src="{% static 'images/briefcase.png' %}" loading="lazy" srcset="{% static 'images/briefcase-p-500.png' %} 500w, {% static 'images/briefcase.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">Compliance Specialist</div>
              </div>
              <div class="lawyers"><img src="{% static 'images/Time.png' %}" loading="lazy" srcset="{% static 'images/Time-p-500.png' %} 500w, {% static 'images/Time.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">9:00 - 16:00</div>
              </div>
            </div>
            <div id="w-node-db432eb5-b2a1-9176-930d-382113bdec1c-99771e72" class="div-block-57">
              <a href="#" class="link-block-11 w-inline-block">
                <h4 class="roles-headings">Family and Estate Lawyer </h4>
              </a>
              <div class="lawyers"><img src="{% static 'images/briefcase.png' %}" loading="lazy" srcset="{% static 'images/briefcase-p-500.png' %} 500w, {% static 'images/briefcase.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">Contracts Lawyer</div>
              </div>
              <div class="lawyers"><img src="{% static 'images/Time.png' %}" loading="lazy" srcset="{% static 'images/Time-p-500.png' %} 500w, {% static 'images/Time.png' %} 512w" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px" alt="" class="image-47">
                <div class="text-block-26">9:00 - 16:00</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% for mssg in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-left: 40%; margin-right: 40%; justify-content: center; align-items: center; top: 50%; left: 50%; text-align: center; padding-top: 10px;
      background-color: #3070e6; color: #ffffff; border-radius: 15px; width: 350px; height: 100px;">
        <strong>{{mssg}}</strong>

      </div>
      {% endfor %}

      <div class="new-section wf-section">
        <h2><strong>Fill Out This Form to Request an Ad Slot</strong></h2>
        <div class="div-block-16">
          <div class="form-block-2 w-form">
            <form id="wf-form-Full-Name" name="wf-form-Full-Name" data-name="Full Name" method="get" class="centered-form">
              {% csrf_token %}
              <div class="contact-form">
                <div class="w-layout-grid grid">
                  <div id="w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1cc-99771e72"><label for="name" class="field-label">Contact Name for Posting *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="name" data-name="Name" placeholder="John Doe" id="name" required=""></div>
                  <div id="w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1d0-99771e72"><label for="Email-Address" class="field-label">Email Address *</label><input type="email" class="w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="johndoe@email.com" id="Email-Address" required=""></div>
                  <div id="w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1d4-99771e72"><label for="Phone-Number" class="field-label">Phone Number</label><input type="tel" class="w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="(000) 000 - 0000" id="Phone-Number"></div>
                  <div id="w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1d8-99771e72"><label for="Firm-Name" class="field-label">Title of Ad *</label><input type="text" class="w-input" maxlength="256" name="Firm-Name" data-name="Firm Name" placeholder="" id="Firm-Name"></div>
                  <div id="w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1dc-99771e72" class="div-block-12"><label for="Subject" class="field-label">Catagory</label></div><select id="field" name="field" data-name="Field" required="" class="select-field w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1df-99771e72 w-select">
                    <option value="">Select one...</option>
                    <option value="First">Job Posting</option>
                    <option value="Second">Student Job Posting</option>
                    <option value="Third">Will Search Notice</option>
                    <option value="Another option">Obituary</option>
                    <option value="Another option">Legal News</option>
                    <option value="Another option">Community Event</option>
                    <option value="Another option">Items for Sale or Rent</option>
                  </select>
                  <div class="div-block-62 w-node-f200ca6b-4f43-7d64-fa4a-25bca5d4b1e0-99771e72"><input id="File-Upload" type="file" name="file"></div>
                </div>
              </div><input type="submit" data-wait="Please wait..." value="Submit" class="new-button w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'partials/footer.html' %}
  <html>
  <form id="File-Form" action="/Career Centre.php">
    <input type="file" name="filename" accept=".doc,.docx" id="file">
    <!--  <input type="submit">  -->
  </form>
  </html>
  <style>
/* hide scrollbar but allow scrolling */
body
{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar
{
  display: none; /* for Chrome, Safari, and Opera */
}
#File-Form
{
	color: white;
}
#file
{
	background color: red;
}
</style>
  <script>
/* Get Div from its ID */
var UploadDiv = document.getElementById('File-Upload');
var UploadForm = document.getElementById('File-Form');
UploadDiv.appendChild(UploadForm);
//window.alert("Oh yes Andy!");
</script>
</body>
</html>
{% endblock %}
