{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Fri Sep 16 2022 18:24:29 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="62f411e0c7f4a540aa771e74" data-wf-site="62d96ebd93ffb09c4e003d66">

<body class="new-body">
  {% include 'partials/navbar.html' %}
  <div class="overall-div">
  {% include 'partials/navbar-side.html' %}
    <div class="page-content">
      <div class="hero-image">
        <h1 class="heading-43">CPD EVENTS</h1>
      </div>
      <div class="new-section-3 contact wf-section">
        <div class="centering-container w-container">
          <div class="w-layout-grid grid-events">

            {% for event in events %}
            <div class="w-layout-grid grid-11"><img src="{{event.image.url}}" loading="lazy" width="462" id="w-node-c08f2bc8-05b7-fdbe-e204-99f1cad3b045-aa771e74" sizes="(max-width: 479px) 100vw, (max-width: 767px) 66vw, (max-width: 991px) 57vw, 462px" srcset="{{event.image.url}} 500w, {{event.image.url}} 800w, {{event.image.url}} 1080w, {{event.image.url}} 1600w, {{event.image.url}} 2000w, {{event.image.url}} 2600w, {{event.image.url}} 3200w" alt="" class="image-35">
              <div id="w-node-c08f2bc8-05b7-fdbe-e204-99f1cad3b046-aa771e74" class="details">
                <h3 id="w-node-c08f2bc8-05b7-fdbe-e204-99f1cad3b047-aa771e74" class="card-title">{{event.title}}</h3>
                <div id="w-node-c08f2bc8-05b7-fdbe-e204-99f1cad3b049-aa771e74" class="content-2">
                  <div class="div-block-28">
                    <div class="date"></div>
                    <div class="text-block-21">{{event.date}}</div>
                  </div>
                  <div class="div-block-28">
                    <div class="date"></div>
                    <div class="text-block-21">{{event.location}}</div>
                  </div>
                </div>
                <div class="learn-more">
                  <a href="{% url 'events-details' event.id %}" class="new-button w-button">Learn More</a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="new-section-3 wf-section">
        <a id="https-store.lso.ca-cpd" href="https://store.lso.ca/cpd" target="_blank" class="new-button w-button">CPD Events Calendar</a>
      </div>
    </div>
  </div>
  {% include 'partials/footer.html' %}
  <style>
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
</style>
</body>
</html>
 {% endblock %}
