{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Fri Sep 16 2022 18:24:29 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="62f411e0c7f4a56157771e75" data-wf-site="62d96ebd93ffb09c4e003d66">

<body class="new-body">
  {% include 'navbar.html' %}
  <div class="overall-div">
  {% include 'navbar-side.html' %}
    <div class="page-content-2">
      <div class="hero-image">
        <h1 class="heading-43">EVENT DETAILS</h1>
      </div>

      <div class="new-section-3 wf-section">
        <div data-w-id="969ad52a-c4e9-58d3-2908-2ed532155cf8" style="opacity:0" class="centering-container w-container">
          <h2><strong>{{event.title}}</strong></h2>
          <p class="text-block-23">{{event.description|safe}}</p>
          <div class="w-layout-grid grid-8">
            <div id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d00-57771e75" class="events-icons"><img src="https://uploads-ssl.webflow.com/62e3e92e75a7013c1f11c979/62e3e92e75a701063411c9ca_Location.png" loading="lazy" id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d01-57771e75" alt="" class="events-icon"></div>
            <p class="text-block-22">{{event.location}}</p>
            <div id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d04-57771e75" class="events-icons"><img src="{% static 'images/MicrosoftTeams-image.png' %}" loading="lazy" id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d05-57771e75" srcset="{% static 'images/MicrosoftTeams-image-p-500.png' %} 500w, images/MicrosoftTeams-image.png' %} 512w" sizes="40px" alt="" class="events-icon"></div>
            <div id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d06-57771e75" class="text-block-22">{{event.date}}</div>
            <div id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d08-57771e75" class="events-icons"><img src="https://uploads-ssl.webflow.com/62e3e92e75a7013c1f11c979/62e3e92e75a7016f8c11c9cb_Time.png" loading="lazy" id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d09-57771e75" alt="" class="events-icon"></div>
            <div id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d0a-57771e75" class="text-block-22">{{event.start}} - {{event.end}}</div>
            <div id="w-node-_969ad52a-c4e9-58d3-2908-2ed532155d0c-57771e75" class="events-icons"></div>
          </div>

          <div class="div-block-50">
            <a href="{{event.pdf.url}}" class="w-inline-block"><img src="{% static 'images/pdf.webp' %}" loading="lazy" alt="" class="image-38"></a>
            <div class="text-block-24">Please fill out this form prior to attending!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <style>
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
</style>
</body>
</html>
{% endblock %}
