{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->

<!--  Last Published: Fri Sep 16 2022 18:24:29 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="62f411e0c7f4a59afc771e78" data-wf-site="62d96ebd93ffb09c4e003d66">

<body class="new-body">

  {% include 'navbar.html' %}

  <div class="overall-div">

    {% include 'navbar-side.html' %}

    <div class="page-content">
      <div class="hero-image">
        <h1 class="heading-43">MEMBERSHIP</h1>
      </div>
      <div class="new-section wf-section">
        <div class="w-layout-grid grid-flippiity">
          <div data-w-id="6bd6ce14-e44a-53ad-4ad6-e2065eb9bb4f" class="card-wrapper">
            <div class="card">
              <div class="card-front _1p">
                <div>
                  <a href="mailto:aadams@flettbeccario.com" class="w-inline-block">
                    <h1 class="card-heading">Adams, Allysa<br></h1>
                  </a>
                </div>
              </div>
              <div class="card-back">
                <h2 class="principles-heading">Principle 1</h2>
                <p class="principles-para">It must promote positive environmental ethics fostering preferred behaviours in its participants.</p>
              </div>
            </div>
          </div>
        </div>
        <h2><strong>Our Membership Directory</strong></h2>
        <div id="filterButtons" class="w-layout-grid filter-grid">
          <div data-filterkey="A" id="w-node-f8090ddb-fc52-94a6-1dcf-bddc7212ec69-fc771e78" class="div-block-41">
            <div class="blurb-paragraph">A</div>
          </div>
          <div data-filterkey="B" class="div-block-41">
            <div class="blurb-paragraph">B</div>
          </div>
          <div data-filterkey="C" class="div-block-41">
            <div class="blurb-paragraph">C</div>
          </div>
          <div data-filterkey="D" class="div-block-41">
            <div class="blurb-paragraph">D</div>
          </div>
          <div data-filterkey="E" class="div-block-41">
            <div class="blurb-paragraph">E</div>
          </div>
          <div data-filterkey="F" class="div-block-41">
            <div class="blurb-paragraph">F</div>
          </div>
          <div data-filterkey="G" class="div-block-41">
            <div class="blurb-paragraph">G</div>
          </div>
          <div data-filterkey="H" class="div-block-41">
            <div class="blurb-paragraph">H</div>
          </div>
          <div data-filterkey="I" class="div-block-41">
            <div class="blurb-paragraph">I</div>
          </div>
          <div data-filterkey="J" class="div-block-41">
            <div class="blurb-paragraph">J</div>
          </div>
          <div data-filterkey="K" class="div-block-41">
            <div class="blurb-paragraph">K</div>
          </div>
          <div data-filterkey="L" class="div-block-41">
            <div class="blurb-paragraph">L</div>
          </div>
          <div data-filterkey="M" class="div-block-41">
            <div class="blurb-paragraph">M</div>
          </div>
          <div data-filterkey="N" class="div-block-41">
            <div class="blurb-paragraph">N</div>
          </div>
          <div data-filterkey="O" class="div-block-41">
            <div class="blurb-paragraph">O</div>
          </div>
          <div data-filterkey="P" class="div-block-41">
            <div class="blurb-paragraph">P</div>
          </div>
          <div data-filterkey="Q" class="div-block-41">
            <div class="blurb-paragraph">Q</div>
          </div>
          <div data-filterkey="R" class="div-block-41">
            <div class="blurb-paragraph">R</div>
          </div>
          <div data-filterkey="S" class="div-block-41">
            <div class="blurb-paragraph">S</div>
          </div>
          <div data-filterkey="T" class="div-block-41">
            <div class="blurb-paragraph">T</div>
          </div>
          <div data-filterkey="U" class="div-block-41">
            <div class="blurb-paragraph">U</div>
          </div>
          <div data-filterkey="V" class="div-block-41">
            <div class="blurb-paragraph">V</div>
          </div>
          <div data-filterkey="W" class="div-block-41">
            <div class="blurb-paragraph">W</div>
          </div>
          <div data-filterkey="X" class="div-block-41">
            <div class="blurb-paragraph">X</div>
          </div>
          <div data-filterkey="Y" class="div-block-41">
            <div class="blurb-paragraph">Y</div>
          </div>
          <div data-filterkey="Z" class="div-block-41">
            <div class="blurb-paragraph">Z</div>
          </div>
        </div>
        <div id="filterItems" class="w-layout-grid membership-grid">

          {% for member in members %}
          <div data-filterkey="{{member.first_name|slice:1}}" class="member-card">
            <h3 class="new-member-heading">{{member.first_name}}, {{member.last_name}}</h3>
            <div class="div-block-61"></div>
            <h4 class="heading-37">{{member.firm}}</h4>
            <div class="blurb-paragraph">{{member.address}}</div>
            <div class="blurb-paragraph">Phone: {{member.phone}}</div>
            <div class="blurb-paragraph">Fax: {{member.fax}}</div>
            <div class="div-block-61"></div>
            <div class="columns-2 w-row">
              <div class="column-4 w-col w-col-6 w-col-small-6 w-col-tiny-6">
                <a data-w-id="6d0e11ae-1bf0-70dc-4afa-11014f0bcd0c" href="mailto:{{member.email}}" class="link-block-3 w-inline-block"><img src="{% static 'images/email.png' %}" loading="lazy" srcset="{% static 'images/email-p-500.png' %} 500w, {% static 'images/email.png' %} 512w" sizes="40px" alt="" class="image-26"></a>
              </div>
              <div class="column-3 w-col w-col-6 w-col-small-6 w-col-tiny-6">
                <a href="{{member.url}}" target="_blank" class="link-block-3 w-inline-block"><img src="{% static 'images/internet-2.png' %}" loading="lazy" srcset="{% static 'images/internet-2-p-500.png' %} 500w, {% static 'images/internet-2.png' %} 512w" sizes="40px" alt="" class="image-26"></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="new-section wf-section">
        <h2 id="w-node-_4d652a7b-e518-e33b-ca42-6e82682479e9-fc771e78"><strong>Benefits of Becoming a Member</strong></h2>
        <div class="w-layout-grid benefits-grid">
          <div id="w-node-b0402cbe-5319-74f1-23e1-72eb5b28a0ab-fc771e78" class="benefit">
            <div class="div-block-44"><img src="{% static 'images/internet.png' %}" loading="lazy" width="120" height="120" alt="" class="image-14"></div>
            <h3>Benefit 1</h3>
            <p class="blurb-paragraph benefit-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div id="w-node-b0402cbe-5319-74f1-23e1-72eb5b28a0b2-fc771e78" class="benefit">
            <div class="div-block-44"><img src="{% static 'images/stopwatch.png' %}" loading="lazy" width="120" height="120" alt="" class="image-14"></div>
            <h3>Benefit 2</h3>
            <p class="blurb-paragraph benefit-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div id="w-node-b0402cbe-5319-74f1-23e1-72eb5b28a0b9-fc771e78" class="benefit">
            <div class="div-block-44"><img src="{% static 'images/network.png' %}" loading="lazy" width="120" height="120" alt="" class="image-14"></div>
            <h3>Benefit 3</h3>
            <p class="blurb-paragraph benefit-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div id="w-node-b0402cbe-5319-74f1-23e1-72eb5b28a0c0-fc771e78" class="benefit">
            <div class="div-block-44"><img src="{% static 'images/repeat.png' %}" loading="lazy" width="120" height="120" alt="" class="image-14"></div>
            <h3>Benefit 4</h3>
            <p class="blurb-paragraph benefit-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div id="w-node-b0402cbe-5319-74f1-23e1-72eb5b28a0c7-fc771e78" class="benefit">
            <div class="div-block-44"><img src="{% static 'images/settings.png' %}" loading="lazy" width="120" height="120" alt="" class="image-14"></div>
            <h3>Benefit 5</h3>
            <p class="blurb-paragraph benefit-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
          <div id="w-node-b0402cbe-5319-74f1-23e1-72eb5b28a0ce-fc771e78" class="benefit">
            <div class="div-block-44"><img src="{% static 'images/alarm.png' %}" loading="lazy" width="120" height="120" alt="" class="image-14"></div>
            <h3>Benefit 6</h3>
            <p class="blurb-paragraph benefit-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
        </div>
      </div>

      {% for mssg in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-left: 40%; margin-right: 40%; justify-content: center; align-items: center; top: 50%; left: 50%; text-align: center; padding-top: 10px;
      background-color: #3070e6; color: #ffffff; border-radius: 15px; width: 350px; height: 100px;">
        <strong>{{mssg}}</strong>

      </div>
      {% endfor %}

      <div class="container-default-2 w-container">
        <div class="cloneable-container-default-2">
          <div class="multi-step-form-wrapper---brix preview-page">
            <div class="title-container---brix">
              <h2><strong>Become a Member Today</strong></h2>
              <p class="paragraph-11">Please fill the form below to become a member. Feel free to add as much detail as needed.</p>
            </div>
            <div class="multi-step-form-block---brix w-form">
              <form id="wf-form-Multi-step-Form-Preview" name="wf-form-Multi-step-Form-Preview" data-name="Multi-step Form Preview" method="get" class="multi-step-form---brix">
                {% csrf_token %}
                <div data-delay="4000" data-animation="slide" class="slider---brix w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="false">
                  <div class="mask---brix w-slider-mask">
                    <div class="slide---brix w-slide">
                      <div class="slider-content-wrap---brix">
                        <div class="steps-bar-wrapper--brix">
                          <div class="steps-bar---brix">
                            <div class="form-step-number---brix completed---brix">1</div>
                            <div class="form-step-progress-bar---brix">
                              <div class="form-step-progress-bar---brix current-step---brix"></div>
                            </div>
                            <div class="form-step-number---brix">2</div>
                            <div class="form-step-progress-bar---brix"></div>
                            <div class="form-step-number---brix">3</div>
                          </div>
                          <div class="form-step-progress-bar-mobile---brix">
                            <div class="form-step-progress-bar-mobile---brix step-1---brix"></div>
                          </div>
                        </div>
                        <div class="form-content---brix">
                          <div class="step-title-wrap---brix">
                            <h3 class="step-title---brix">Contact details</h3>
                            <p class="step-paragraph---brix-2">Please fill out all of your contact information below.</p>
                          </div>
                          <div class="w-layout-grid first-step-grid---brix-2">
                            <div class="multi-step-form-grid-item---brix"><label for="Name-2" class="multi-step-form-label---brix-2">Name</label>
                              <div><input type="text" class="multi-step-form-text-field---brix name-icon---brix w-input" maxlength="256" name="Name" data-name="Name" placeholder="John Carter" id="Name-multistep-form-preview" required=""></div>
                            </div>
                            <div class="multi-step-form-grid-item---brix"><label for="Email-3" class="multi-step-form-label---brix-2">Email</label><input type="email" class="multi-step-form-text-field---brix email-icon---brix w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email address" id="Email--multistep-form-preview" required=""></div>
                            <div class="multi-step-form-grid-item---brix"><label for="Phone-Number-3" class="multi-step-form-label---brix-2">Phone Number</label><input type="tel" class="multi-step-form-text-field---brix phone-icon---brix w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="(123) 456 - 7890" id="Phone-multistep-form-preview" required=""></div>
                            <div class="multi-step-form-grid-item---brix"><label for="Company-2" class="multi-step-form-label---brix-2">Company</label><input type="text" class="multi-step-form-text-field---brix company-icon---brix w-input" maxlength="256" name="Company" data-name="Company" placeholder="Company name" id="Company-multistep-form-preview"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="slide---brix w-slide">
                      <div class="slider-content-wrap---brix">
                        <div class="steps-bar-wrapper--brix">
                          <div class="steps-bar---brix">
                            <div class="form-step-number---brix completed---brix">1</div>
                            <div class="form-step-progress-bar---brix">
                              <div class="form-step-progress-bar---brix complete-step---brix"></div>
                            </div>
                            <div class="form-step-number---brix completed---brix">2</div>
                            <div class="form-step-progress-bar---brix">
                              <div class="form-step-progress-bar---brix current-step---brix"></div>
                            </div>
                            <div class="form-step-number---brix">3</div>
                          </div>
                          <div class="form-step-progress-bar-mobile---brix">
                            <div class="form-step-progress-bar-mobile---brix step-2---brix"></div>
                          </div>
                        </div>
                        <div class="form-content---brix">
                          <div class="step-title-wrap---brix">
                            <h3 class="step-title---brix">Area of Practice</h3>
                            <p class="step-paragraph---brix-2">Please select which field you practice in.</p>
                          </div>
                          <div class="w-layout-grid first-step-grid---brix-2 uniform-space---brix">
                            <div class="multi-step-form-grid-item---brix"><label id="development-preview" class="w-checkbox checkbox-item--brix">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox---brix-2"></div><input type="checkbox" id="development-preview" name="development" data-name="development" style="opacity:0;position:absolute;z-index:-1"><img src="{% static 'images/Business-Law.png' %}" sizes="100vw" srcset="{% static 'images/Business-Law-p-500.png' %} 500w, {% static 'images/Business-Law.png' %} 512w" alt="" class="select-item-icon---brix-2"><span for="development" id="Law1" class="multi-step-form-label---brix-2 no-margin---brix w-form-label">Development</span>
                              </label></div>
                            <div class="multi-step-form-grid-item---brix"><label id="web-design-1" class="w-checkbox checkbox-item--brix">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox---brix-2"></div><input type="checkbox" id="blah" data-name="blah" name="blah" style="opacity:0;position:absolute;z-index:-1"><img src="{% static 'images/Civil-Law.png' %}" sizes="100vw" srcset="{% static 'images/Civil-Law-p-500.png' %} 500w, {% static 'images/Civil-Law.png' %} 512w" alt="" class="select-item-icon---brix-2"><span for="blah" id="Law2" class="multi-step-form-label---brix-2 no-margin---brix w-form-label">Web Design</span>
                              </label></div>
                            <div class="multi-step-form-grid-item---brix"><label id="marketing-1" class="w-checkbox checkbox-item--brix">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox---brix-2"></div><input type="checkbox" id="marketing-preview" name="marketing-1" data-name="marketing-1" style="opacity:0;position:absolute;z-index:-1"><img src="{% static 'images/Commercial-Law.png' %}" sizes="100vw" srcset="{% static 'images/Commercial-Law-p-500.png' %} 500w, {% static 'images/Commercial-Law.png' %} 512w" alt="" class="select-item-icon---brix-2"><span for="marketing-1" id="Law3" class="multi-step-form-label---brix-2 no-margin---brix w-form-label">Marketing</span>
                              </label></div>
                            <div class="multi-step-form-grid-item---brix"><label id="other-1" class="w-checkbox checkbox-item--brix">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox---brix-2"></div><input type="checkbox" id="other-preview" name="other-1" data-name="other-1" style="opacity:0;position:absolute;z-index:-1"><img src="{% static 'images/Enviromental-Law.png' %}" sizes="100vw" srcset="{% static 'images/Enviromental-Law-p-500.png' %} 500w, {% static 'images/Enviromental-Law.png' %} 512w" alt="" class="select-item-icon---brix-2"><span for="other-1" id="Law4" class="multi-step-form-label---brix-2 no-margin---brix w-form-label">Other</span>
                              </label></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="slide---brix w-slide">
                      <div class="slider-content-wrap---brix">
                        <div class="steps-bar-wrapper--brix">
                          <div class="steps-bar---brix">
                            <div class="form-step-number---brix completed---brix">1</div>
                            <div class="form-step-progress-bar---brix">
                              <div class="form-step-progress-bar---brix complete-step---brix"></div>
                            </div>
                            <div class="form-step-number---brix completed---brix">2</div>
                            <div class="form-step-progress-bar---brix">
                              <div class="form-step-progress-bar---brix complete-step---brix"></div>
                            </div>
                            <div class="form-step-number---brix completed---brix">3</div>
                          </div>
                          <div class="form-step-progress-bar-mobile---brix">
                            <div class="form-step-progress-bar-mobile---brix full-bar---brix"></div>
                          </div>
                        </div>
                        <div class="form-content---brix">
                          <div class="submit-content-wrapper---brix">
                            <h3 class="step-title---brix">Submit your membership request</h3>
                            <p class="paragraph-12">Please review all the information you previously typed in the past steps, and if all is okay, submit your form in 24 - 48 hours and don&#x27;t forget to send an e-transfer the fee to the email below.</p>
                            <div class="div-block-45">
                              <div class="text-block-19">Email: </div>
                              <a href="mailto:wcla@execulink.com" class="link-block-5 w-inline-block">
                                <div class="text-block-20">wcla@execulink.com</div>
                              </a>
                            </div><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button---brix-2 w-button">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="multi-step-form-button---brix left---brix preview-page w-slider-arrow-left">
                    <div class="text-block-18">Previous step</div>
                  </div>
                  <div class="multi-step-form-button---brix right---brix preview-page w-slider-arrow-right">
                    <div class="text-block-17">Next step</div>
                  </div>
                  <div class="display-none w-slider-nav w-round"></div>
                </div>
              </form>
              <div class="multi-step-foirm---success-message---brix w-form-done">
                <div class="submit-content-wrapper---brix"><img src="images/form-check-multi-step-form-webflow-cloneable-template-brix-templates.svg" alt="" class="completed-form-illustrations---brix">
                  <h3 class="step-title---brix">Thank you! Your submission has been received!</h3>
                  <p>Please review all the information you previously typed in the past steps, and if all is okay, submit your message to receive a project quote in 24 - 48 hours.</p>
                </div>
              </div>
              <div class="multi-step-form-error-message---brix w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <style>
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
</style>
  <script>
window.addEventListener("load", (event) => {
  //   get our buttons
  const filterButtons = document.getElementById("filterButtons").children;
  //   add an on click event to each. Pass in our filter key
  for (let i = 0; i < filterButtons.length; i++) {
    filterButtons[i].addEventListener("click", () => handleFilterClick(filterButtons[i].getAttribute("data-filterkey")));
  }
});
const handleFilterClick = (key) => {
  //   get our elements we want to filter
  const filterItems = document.getElementById("filterItems").children;
  let tmpKey;
  for (let i = 0; i < filterItems.length; i++) {
    tmpKey = filterItems[i].getAttribute("data-filterkey");
    if (tmpKey !== key) {
      filterItems[i].style.display = "none";
    } else {
      filterItems[i].style.display = "block";
    }
  }
};
// .innerHTML to change contents of the elements in the Membership Form - 2nd Slide
document.getElementById("Law1").innerHTML = "Business";
document.getElementById("Law2").innerHTML = "Civil";
document.getElementById("Law3").innerHTML = "Commercial";
document.getElementById("Law4").innerHTML = "Other";
</script>
</body>
</html>
 {% endblock %}
