{% load static %}

<div class="navbar">
    <div class="div-block">
      <div data-w-id="332ae062-a286-9157-47eb-bc715db86b66" class="nav-button">
        <div data-w-id="673796ac-7d95-700d-581f-3514aabafb13" class="burger-btn-wrapper-2">
          <div data-w-id="673796ac-7d95-700d-581f-3514aabafb14" class="burger-line"></div>
          <div data-w-id="673796ac-7d95-700d-581f-3514aabafb15" class="burger-line"></div>
          <div data-w-id="673796ac-7d95-700d-581f-3514aabafb16" class="burger-line"></div>
        </div>
      </div>
      <a href="{% url 'index' %}" class="new-logo w-nav-brand"><img src="{% static 'images/7.svg' %}" loading="lazy" alt="" class="image"></a>
    </div>
    <div>
      <a href="{% url 'index' %}" class="nav-link w-inline-block"><img src="{% static 'images/Home.png' %}" loading="lazy" alt="" class="nav-icon">
        <div class="nav-text">Home</div>
      </a>
      <a href="{% url 'about-us' %}" aria-current="page" class="nav-link w-inline-block w--current"><img src="{% static 'images/About-Us.png' %}" loading="lazy" srcset="{% static 'images/About-Us-p-500.png' %} 500w, {% static 'images/About-Us.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">About</div>
      </a>
      <a href="{% url 'membership-page' %}" class="nav-link w-inline-block"><img src="{% static 'images/Membership.png' %}" loading="lazy" srcset="{% static 'images/Membership-p-500.png 500w, {% static 'images/Membership.png 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">Membership</div>
      </a>
      <a href="{% url 'cpd-events' %}" class="nav-link w-inline-block"><img src="{% static 'images/CPD--Events.png' %}" loading="lazy" srcset="{% static 'images/CPD--Events-p-500.png' %} 500w, {% static 'images/CPD--Events.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">CPD &amp; Social <br>Events</div>
      </a>
      <a href="{% url 'public-resources' %}" class="nav-link w-inline-block"><img src="{% static 'images/Public-Resources.png' %}" loading="lazy" srcset="{% static 'images/Public-Resources-p-500.png' %} 500w, {% static 'images/Public-Resources.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">Public Resources</div>
      </a>
      <a href="{% url 'library' %}" class="nav-link w-inline-block"><img src="{% static 'images/library.png' %}" loading="lazy" srcset="{% static 'images/library-p-500.png' %} 500w, {% static 'images/library.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">Library</div>
      </a>
      <a href="{% url 'career-centre' %}" class="nav-link w-inline-block"><img src="{% static 'images/career-centre.png' %}" loading="lazy" srcset="{% static 'images/career-centre-p-500.png' %} 500w, {% static 'images/career-centre.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">Career Centre</div>
      </a>
      <a href="{% url 'practice-portals' %}" class="nav-link w-inline-block"><img src="{% static 'images/Practice-Portals.png' %}" loading="lazy" srcset="{% static 'images/Practice-Portals-p-500.png' %} 500w, {% static 'images/Practice-Portals.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">Practice Portal</div>
      </a>
      <a href="{% url 'contact-us' %}" class="nav-link w-inline-block"><img src="{% static 'images/Contact-Us.png' %}" loading="lazy" srcset="{% static 'images/Contact-Us-p-500.png' %} 500w, {% static 'images/Contact-Us.png' %} 512w" sizes="(max-width: 767px) 100vw, 32px" alt="" class="nav-icon">
        <div class="nav-text">Contact Us</div>
      </a>
    </div>
    <div class="div-block-8">
      <div class="d-13-icons-wrapper">
        <a href="https://www.facebook.com/niagaranaturetours" target="_blank" class="d-13-link-block w-inline-block">
          <div class="d-13-icon-bg">
            <div class="d-13-icon"></div>
          </div>
        </a>
      </div>
    </div>
    <a href="https://www.civiconnect.ca/" target="_blank" class="link-block w-inline-block"><img src="{% static 'images/CIVI.svg' %}" loading="lazy" alt=""></a>
  </div>